.InputFind__block {
    position: relative;
}

.InputFind__magnifier {
    position: absolute;
    top: 19px;
    left: 24px;
}

.InputFind_inp {
    height: 58px;
    width: 300px;
    border-radius: 10px;
    padding-left: 62px;
    padding-right: 15px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 15px;
}