.SecondSidebarDrinkLog {
    margin-top: 20px;
    padding: 24px;
    background: #F7F9FD;
    border-radius: 12px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.SecondSidebarDrinkLog__header {
    font-size: 18px;
    line-height: 27px;
    color: #3629B7;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.SecondSidebarDrinkLog__header__dots {
    transition: 0.3s;
    cursor: pointer;
}

.SecondSidebarDrinkLog__header__dots:hover {
    transform: scale(1.1);
    transition: 0.3s;
}