.SecondSidebarDrinkLogItem {
    width: 212px;
    height: 40px;
    padding: 12px 16px;
    background: #FFFFFF;
    box-shadow: 30px 30.24px 20px rgba(0, 0, 0, 0.02), 0px 12.16px 8.576px rgba(0, 0, 0, 0.013152), 0px 2.72px 3.712px rgba(0, 0, 0, 0.008304);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

.SecondSidebarDrinkLogItem__time {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #3546B1;
}

.SecondSidebarDrinkLogItem__volume {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7B81A6;
}